@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sankofa+Display&display=swap');

        html, body {
            height: 100%;
            margin: 0;
            font-size: large;
        }

        body {
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.9);
            position: relative;
            background-image: url('zeus.jfif');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed; /* Faz a imagem de fundo permanecer fixa */
            z-index: -1; /* Garante que a imagem de fundo fique atrás do conteúdo */
        }
        
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8); /* Aplica uma camada escura */
            z-index: -1;
        }

        header {
            position: sticky;
            top: 0;
            width: 100%;
            background-color: #b8860b; /* Dourado escuro */
            color: white;
            text-align: center;
            padding: 10px 0;
            z-index: 1000;
            font-family: "Sankofa Display", sans-serif;
            letter-spacing: 8px;
            margin-bottom: 20px;
        }

        .button-container {
            display: flex;
            justify-content: space-between; /* Garante que os botões fiquem nas extremidades */
            align-items: center; 
            margin: 20px 10px; /* Margem para colocar os botões logo abaixo do cabeçalho */
        }

        .btn {
            padding: 10px 20px;
            background-color: #b8860b; /* Cor de fundo dourada */
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .btn:hover {
            background-color: #daa520; /* Cor de hover */
        }

        main p {
            margin: 20px auto; /* Centraliza a caixa horizontalmente */
            padding: 20px;
            max-width: 800px; /* Define a largura máxima da caixa */
            background-color: white;
            border: 2px solid #b8860b; /* Borda dourada */
            border-radius: 10px;
            box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
            font-size: 23px; /* Aumenta bem o tamanho da fonte */
            letter-spacing: 1px; /* Aumenta o espaçamento entre as letras */
            line-height: 1.8; /* Aumenta o espaçamento entre as linhas */
            text-align: center;
        }

        .back-to-top {
            text-align: center;
            margin: 20px 0; /* Espaçamento acima e abaixo do botão */
        }
        
        .back-to-top .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #b8860b;
            color: white;
            text-decoration: none;
            font-size: 1.2rem;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        
        .back-to-top .btn:hover {
            background-color: #daa520;
        }
        
        
        footer {
            background-color: rgb(0, 0, 0, .8);
            padding: 12px;
            text-align: center;
            color: white;
            letter-spacing: 1px;
            text-shadow: 1px 1px 10px black;
            margin-top: auto;
        }

        main h2 {
            color: white;
            text-align: center;
            font-size: 2rem; /* Ajuste o tamanho da fonte conforme necessário */
            margin: 40px auto 10px; /* Espaçamento acima e abaixo do h2 */
            padding-bottom: 10px; /* Espaçamento abaixo do h2 */
            border-bottom: 3px solid #b8860b; /* Borda dourada abaixo do h2 */
            max-width: 800px; /* Alinha a largura do h2 com a caixa de parágrafo */
            font-family: "Pirata One", system-ui; /* Mantém a mesma fonte do cabeçalho */
        }